.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}



* {
    font-family: Merriweather,sans-serif;
}
body {
    justify-content: center;
    height: 98vh;
    text-align: center;
    background-color: rgba(18, 18, 18, 0.95);
    flex-direction: row;
    margin: 0;
}

header {
    background-color: rgb(23, 23, 23);
}

.nav-logo, .nav-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    height: max(5px,2.25vw);
    flex-direction: row;
}

.navbar img {
    margin-right: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    font-size: max(10px,1vw);
    margin-top: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #b9b9b9;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 0.5vw;
}

.navbar ul li a:hover {
    color: whitesmoke;
}

.nav-buttons {
    padding-left: 3vw;
}

.social-buttons a i {
    font-size: max(20px,1.75vw);
    margin-right: 0.5vw;
    margin-top: 10px;
    padding: 3px;
}

.fa-brands.fa-discord.fa-2x {
    color: rgba(114, 137, 218, 0.8);
}
.fa-brands.fa-discord.fa-2x:hover {
    color: #7289da;
}

.fa-brands.fa-github.fa-2x, .fa-solid.fa-envelope.fa-2x {
    color: rgba(234, 234, 234, 0.8);
}
.fa-brands.fa-github.fa-2x:hover, .fa-solid.fa-envelope.fa-2x:hover {
    color: #eaeaea;
}

.fa-brands.fa-stack-overflow.fa-2x {
    color: rgba(244, 127, 36, 0.8);
}
.fa-brands.fa-stack-overflow.fa-2x:hover {
    color: #F47F24;
}

.social-buttons {
    margin-left: auto;
}

#nav-lower-bar {
    border-color: #797979;
}

.nav-text h1 {
    font-size: max(22px,2.5vw);
    margin: 0;
}

.nav-logo img {
    width: max(25px,2.75vw);
}

#logo-bar {
    font-size: max(24px,2.75vw);
    font-weight: lighter;
    transform: translate(-0.5vw);
    margin: 0;
    user-select: none;
    color: whitesmoke;
    padding-top: 10px;
}



#title-h1 {
    font-size: max(24px,2vw);
    color: whitesmoke;
}
#title-h3 {
    font-weight: lighter;
    font-size: max(12px,1vw);
    color: whitesmoke;
}

.body-div {
    height: auto;
    width: max(510px,70vw);
    margin: auto;
}

#mcversion {
    width: min(40vw,120px);
    height: 3vh;
    border-style: none;
    border-radius: 4px;
    margin-right: 2px;
    background-color: #e1e1e1;
    color: #3d3c3c;
}

.submit-button {
    width: max(6vw,70px);
    height: 3vh;
    border-style: none;
    border-radius: 4px;
    margin-right: 2px;
    color: #3d3c3c;
    background-color: #e1e1e1;
}

#input-box{
    width: min(39.5vw,500px);
    height: 3vh;
    border-style: none;
    border-radius: 4px;
    padding: 0 1vh;
    background-color: #e1e1e1;
    color: ghostwhite;
}
#input-box::placeholder {
    color: #3d3c3c;
}

.result-div {
    background-color: red;
    width: max(75vw);
    margin: auto;
}
.result-div h1 {
    color: ghostwhite;
}
.result-div p {
    display: flex;
    margin: 0;
}


.bottom-container footer {
    display: flex;
    text-align: left;
    justify-content: space-between;
    background-color: rgb(23, 23, 23);
    border-top: 2px solid #797979;
    flex-direction: row;
    padding: 0 1vw;
    position: absolute;
    bottom: 0;
    width: 98vw;
}

.bottom-container footer p {
    font-size: max(9px,0.6vw);
    color: whitesmoke;
    user-select: none;
}

.bottom-container footer a {
    text-decoration: none;
    color: grey;
}
.bottom-container footer a:hover {
    color: whitesmoke;
}